.pet-profile-container {
    max-width: var(--spc-max-width);
    margin-left: auto;
    margin-right: auto;

    .pp-divider {
       width: 100%;
       height: 7px;
       background-color: var(--ion-color-step-900);
    }
    .pp-image-group {
        width: 100%;
        height: 100vw;
        max-height: 500px;
        background-color: darkgrey;
        .pp-image {
            width: 100%;
        }
    }
    .pp-basic-about-group {
        position: relative;
        width: 100%;
        .basic {
            overflow: hidden;
            height: 70px;
            background-image: linear-gradient(to top, rgba(255,255,255,0.9), rgba(255,255,255,.6), rgba(255,255,255,.4));
            backdrop-filter: blur(10px);
            position: absolute;
            width: calc(100% - 30px);
            left: 15px;
            top: -35px;
            border-radius: 10px;
            -webkit-box-shadow: -1px 3px 4px 1px rgba(0,0,0,0.1);
            -moz-box-shadow: -1px 3px 4px 1px rgba(0,0,0,0.1);
            box-shadow: -1px 3px 4px 1px rgba(0,0,0,0.1);
            display: flex;
            flex-direction: row;
            align-items: center;
            .gender {
                background-color: palevioletred; 
                height: 35px; 
                width: 35px; 
                padding: 2px; 
                border-radius: 5px;
                display: flex; 
                align-items:center; 
                justify-content: center;
                margin-left: 15px;
                margin-right: 15px;
                
            }
            .name-bread {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 15px;
                flex-grow: 1;
            }
            .parent-info {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                margin-right: 10px;
                border-left: 1px solid var(--ion-color-light);
            }
            .parent-pic {
                height: 70px;
                min-width: 40px;
                max-width: 70px;
                background-color: azure;
                .parent-pic {
                    width: 100%;
                }
            }
        }
    }

    .pp-about-pet-group {
        display: flex;
        margin: 15px;
        margin-top: 55px;
        margin-bottom: 25px;
        flex-direction: column;
        .about {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            .square {
                border: 1px solid var(--ion-color-light);
                display: flex;
                flex-direction: column;
                border-radius: 5px;
                flex-grow: 1;
                justify-content: center;
                align-items: center;
                padding: 12px 0;
            }
        }
    }

    .pp-pet-behaviour-group {
        margin: 15px;
        margin-top:25px;
        margin-bottom:0px;
        display: flex;
        flex-direction: column;
    }

    .pp-care-info-group {
        margin: 15px;
        margin-top: 25px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        .yes-no-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 10px;
            .yes-no-text {
                display: flex;
                flex-grow: 1;
                flex-direction: row;
            }
            .yes-no {
                border-radius: 4px;
                border: 1px solid var(--ion-color-light);
                padding: 12px 0;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .pp-other-info-group {
        display: flex;
        flex-direction: column;
        margin: 15px;
        margin-top: 25px;
        margin-bottom: 25px;
        .info {
            margin-top: 15px;
        }
    }

}
