<ion-content>
    <div class="pet-profile-container">
        <!--image group -->
        <div class="pp-image-group">
            <img class="pp-image" src="" alt="pet-display-pic" />
        </div>
         <!--basic group -->
        <div class="pp-basic-about-group">
            <div class="basic">
            
                <div class="name-bread">
                    <ion-text color="dark">
                        <h3 class="ion-no-margin">Peach </h3>
                    </ion-text>
                    <ion-text color="medium">
                        <h6 class="ion-no-margin">Persian cat</h6>
                    </ion-text>
                </div>
                <div class="gender">
                    <ion-icon style="color: white; width: 25px; height: 25px;" name="female-outline">
                    </ion-icon>
                </div>
            </div>
        </div>
        <!--about pet group -->
        <div class="pp-about-pet-group">
            <ion-text>
                <h5 class="ion-no-margin"><ion-icon name="paw" slot="start"></ion-icon> &nbsp; About the pet</h5>
            </ion-text>
            <br/>
            <div class="about">
                <div class="square">
                    <ion-text color="medium" style="font-size: 500">Age</ion-text>
                    <ion-text>1</ion-text>
                </div>
                <div class="square" style="margin-left: 15px;">
                    <ion-text color="medium" style="font-size: 500">Weight</ion-text>
                    <ion-text>3.3 kg</ion-text>
                </div>
                <div class="square" style="margin-left: 15px;">
                    <ion-text color="medium" style="font-size: 500">Length</ion-text>
                    <ion-text>50cm</ion-text>
                </div>
                <div class="square" style="margin-left: 15px;">
                    <ion-text color="medium" style="font-size: 500">Flat</ion-text>
                    <ion-text>1081</ion-text>
                </div>
            </div>
            <div class="about">
                <div class="square" style="margin-right: 7.5px;">
                    <ion-text color="medium" style="font-size: 500">Pet Point Routine</ion-text>
                    <ion-text>1</ion-text>
                </div>
                <div class="square" style="margin-left: 7.5px;">
                    <ion-text color="medium" style="font-size: 500">Walking Routine</ion-text>
                    <ion-text>3.3 kg</ion-text>
                </div>
            </div>
            <ion-text style="margin-top: 5px;">
                is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            </ion-text>
        </div>
        
        <div class="pp-divider"></div>

        <!--behaviour group -->
        <div class="pp-pet-behaviour-group">
            <div>
                <ion-text>
                    <h5 class="ion-no-margin flex-heading">  <img src="assets/icon/heading/icons8-pets-30.png" class="heading-image" />   &nbsp; Pet's behaviour</h5>
                </ion-text>
            </div>
        </div>


        <div class="pp-care-info-group">
            <div class="yes-no-group">
                <div class="yes-no-text">  
                    <ion-text >
                        Leash trained?
                    </ion-text>
                </div>
                <div class="yes-no">
                    Yes
                </div>
                <div class="yes-no" style="margin-left: 8px;">
                    No
                </div>
            </div>
            <div class="yes-no-group">
                <div class="yes-no-text">    
                    <ion-text >Pulls on leash?</ion-text>
                </div>
                <div class="yes-no">
                    Yes
                </div>
                <div class="yes-no" style="margin-left: 8px;">
                    No
                </div>
            </div>
            <div class="yes-no-group">
                <div class="yes-no-text">    
                    <ion-text >Jumps on people?</ion-text>
                </div>
                <div class="yes-no">
                    Yes
                </div>
                <div class="yes-no" style="margin-left: 8px;">
                    No
                </div>
            </div>
            <div class="yes-no-group">
                <div class="yes-no-text">    
                    <ion-text >Friendly with cats?</ion-text>
                </div>
                <div class="yes-no">
                    Yes
                </div>
                <div class="yes-no" style="margin-left: 8px;">
                    No
                </div>
            </div>
            <div class="yes-no-group">
                <div class="yes-no-text">    
                    <ion-text >Friendly with dogs?</ion-text>
                </div>
                <div class="yes-no">
                    Yes
                </div>
                <div class="yes-no" style="margin-left: 8px;">
                    No
                </div>
            </div>
            <div class="yes-no-group">
                <div class="yes-no-text">    
                    <ion-text >Friendly with strangers?</ion-text>
                </div>
                <div class="yes-no">
                    Yes
                </div>
                <div class="yes-no" style="margin-left: 8px;">
                    No
                </div>
            </div>
            
        </div>

        <div class="pp-divider"></div>
        <!--care group -->
        <div class="pp-care-info-group">
            <div style="margin-bottom: 15px;">
                <ion-text>
                    <h5 class="ion-no-margin flex-heading">  <img src="assets/icon/heading/pet-care.png" />  &nbsp; Care Info</h5>
                </ion-text>
            </div>
            <div class="yes-no-group">
                    <div class="yes-no-text">    
                        <ion-text >Spayed / Neutered?</ion-text>
                    </div>
                    <div class="yes-no">
                        Yes
                    </div>
                    <div class="yes-no" style="margin-left: 8px;">
                        No
                    </div>
            </div>
            <div class="yes-no-group">
                <div class="yes-no-text">    
                    <ion-text >Vacinated?</ion-text>
                </div>
                <div class="yes-no">
                    Yes
                </div>
                <div class="yes-no" style="margin-left: 8px;">
                    No
                </div>
            </div>
        </div>

        <div class="pp-divider"></div>
        <div class="pp-other-info-group">
                <div>
                    <ion-text>
                        <h5 class="ion-no-margin flex-heading">  <img src="assets/icon/heading/veterinarian.png" style="height: 35px;" /> &nbsp; Vet Information</h5>
                    </ion-text>
                </div>
                <div class="info">
                    <ion-text>
                        text here
                    </ion-text>
                </div>
        </div>


        <div class="pp-divider"></div>
        <div class="pp-other-info-group">
                <div>
                    <ion-text>
                        <h5 class="ion-no-margin flex-heading">  <img src="assets/icon/heading/grooming.png" class="heading-image"/>  &nbsp; Grooming information</h5>
                    </ion-text>
                </div>
                <div class="info">
                    <ion-text>
                        text here
                    </ion-text>
                </div>
        </div>

    </div>
</ion-content>